<div th:replace="/fragments/header.html" ::fragment-header></div>
<title>게시판</title>

<div class="mx-auto" style="width: 200px;">
        <h3>게시판 글 작성</h3>
</div>


<body>


<div class="mx-auto" style="width: 1200px;">
    <form action = "#" th:action="@{/article/register}" th:object="${article}" method="post" id="tmpSendFrm">

        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control"  id="title" placeholder="제목을 입력하세요." required>
        </div>

        <div class = "form-group">
            <label for="author">작성자</label>
            <input type="text" class="form-control" name="author"    id="author" placeholder="이름을 입력하세요." required>
       </div>

        <div class="form-group">
            <label for="content">내용 </label>
            <textarea class="form-control autosize" onkeydown="resize(this)" onkeyup="resize(this)" id="content" rows="3"  placeholder="게시글의 내용을 입력하세요." required></textarea>
        </div><br>

        <div class="text-right d-flex flex-row-reverse bd-highlight">
            <button type="submit" class="btn btn-primary">제출</button>
            <a href ="#" th:href="@{/article/list}" class="btn btn-primary">목록</a>
            <button class="btn btn-primary" type="reset" onclick="resetBtn()">리셋</button>
        </div>
    </form>
</div>

</body>
</html>

