<div th:replace="/fragments/header.html" ::fragment-header></div>
<title>게시판</title>

<div class="mx-auto" style="width: 200px;">
        <h3>게시판 글 작성</h3>
</div>
<body>
<div class="mx-auto" style="width: 1200px;">
    <form action = "#" th:action="@{/article/register}" th:object="${article}" method="post">

        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러
            </div>
        </div>

        <div class = "form-group">
            <label for="author">작성자</label>
            <input type="text" class="form-control" name="author"
                   th:classappend="${#fields.hasErrors('author')} ? 'is-invalid'" id="author" th:field="*{author}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
                내용 에러
            </div>
        </div>

        <div class="form-group">
            <label for="content">내용 </label>
            <textarea class="form-control" id="content" rows="3" th:field="*{content}"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                내용 에러
            </div>
        </div><br>
        <div class="text-right d-flex flex-row-reverse bd-highlight">
            <button type="submit" class="btn btn-primary">제출</button>
            <a href ="#" th:href="@{/article/list}" class="btn btn-primary">목록</a>
        </div>

    </form>
</div>

</body>
</html>

