
<div th:replace="/fragments/header.html" ::fragment-header></div>
<title>게시판</title>


<div class="mx-auto" style="width: 200px;">
        <h2 >게시판 글 작성</h2>
    </div>

<form class = "container" th:action="@{/articles/register}" th:object="${article}" method="post">
    <div clss = "mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div clss = "mb-3">
        <label class="form-label">작성자</label>
        <input type="text" class="form-control" name="author">
    </div>
    <div class = "mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
            내용 에러
        </div>
    </div>
    <button type="submit" class="btn btn-primary">제출</button>
    <a href="/articles">Back</a>
</form>
</body>
</html>

