<div th:replace="/fragments/header.html" ::fragment-header></div>
<title>게시판</title>
<div class="mx-auto" style="width: 200px;">
    <h2 >게시글 상세 페이지</h2>
</div>

<div class="container">
    <div class="row">
        <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
            <thead>
            <tr>
                <th colspan="3" style="background-color: #eeeeee; text-align: center;">게시판 글보기</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width: 20%;">글제목</td>
                <td colspan="2"> </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td colspan="2">

                </td>
            </tr>
            <tr>
                <td>작성일자</td>
                <td colspan="2">

                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td colspan="2" style="min-height: 200px; text-align: left;">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" th:href="@{/article/list}">목록</button>
        <button type="button" class="btn btn-secondary">수정</button>
        <button type="button" class="btn btn-secondary">삭제</button>
    </div>
</div>

